body {
  font-family: var(--el-font-family);
  line-height: var(--default-line-height);
  font-weight: var(--default-font-weight);

  color: var(--el-text-color-regular);
  background-color: var(--el-color-primary-light-9);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
