body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  flex-direction: column;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container {
  display: flex;
  flex-direction: column;

  background-color: #242424;

  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  margin-bottom: 1rem;
}
#question-container {
  font-size: 20px;
}
#logs-container {
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 500px;

  text-align: center;
  margin-bottom: 30px;
  background-color: #242424;
}
h1 {
  text-align: center;
}
.question {
  margin: 20px 0;
}
.options {
  display: flex;
  flex-direction: column;
}
.options button {
  font-size: 18px;
  margin: 5px 0;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.options button:hover {
  background-color: #0056b3;
}
.result {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: 007bff;
  font-size: 20px;
}

.show-logs-btn,
.hide-logs-btn,
.restart-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 25px;
}
.show-logs-btn,
.hide-logs-btn {
  margin: 0;
  margin-bottom: 20px;
}

.p {
  font-family: "Classic Console Neue";
}
